body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: white;
    position: fixed;
    top: 0;

}

.content {
    width: 800px;
    margin: 0 auto;

}

#image-banner {
    background-image: url('../img/sf_banner.png');
    background-size: cover;
    width: 100%;
    height: 600px;
}


#other-posts {
    overflow: hidden;
    margin-bottom: 100px;
}

.image-card, .image-card-color-overlay {
    width: 380px;
    height: 200px;
}

.image-card {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin-right: 40px;
    position: relative;

}

.image-card:last-child {
    margin-right: 0;
}

.image-card img {
    width: 100%;
}

.image-card-color-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: 0.3s;
    background-color: navy;
}

.image-card:hover .image-card-color-overlay {
    opacity: 0.3;
}

.image-card-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    font-weight: 300;
}


/* PROBLEM 7: Improve the typography and colors of this page! */


#title {
    font-family: 'Times New Roman', sans-serif;
    font-size: 36px;
    font-weight: 600;
    line-height: 2;
    color: black;
    margin: 10px;
}

h1 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    color: black;
    margin-bottom: 15px;
}

h2 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    color: black;
    margin-bottom: 15px;
}

h3 {
    font-family: 'Times New Roman', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 1;
    color: black;
    margin-bottom: 15px;
}

p {
    font-family: 'Times New Roman', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: black;
    margin-bottom: 15px;
}

